---
# handlers file for zabbix-agent-role
- name: restart_zabbix_agent
  service:
    name: zabbix-agent
    state: restarted

- name: win_restart_snmpd
  win_service:
    name: "Net-SNMP Agent"
    state: restarted

- name: restart snmpd
  service:
    name: snmpd
    state: restarted

- name: Reload systemd and restart zabbix-agent
  ansible.builtin.systemd:
    name: zabbix-agent
    daemon_reload: yes
    state: restarted
    enabled: yes

- name: win_restart_zabbix_agent
  win_service:
    name: "Zabbix Agent"
    state: restarted